body {
    font: 20px 'Roboto', sans-serif;
}

.navbar {
    background-color: #296e12;
}

.quem-somos {
    background-color: rgb(13, 5, 17);
    color: #fff;
}

.quem-somos img {
    filter : hue-rotate(300deg);
}

.padding {
    padding-top: 20px;
    padding-bottom: 50px;
}

.parceiros {
    background-color: #383171;
    color: #fff;
}

.servicos{
    background-color: #d7d3f3;
    color: #000;
}

.text-serv {
    height: 200px;
    margin-top: 5%;
    margin-bottom: 5%;
}

.bg-footer {
    background-color: #000 ;
    color: #fff;
    justify-content: center;
    padding: 2% 0;
}
.bg-footer p {
    margin: 0%;
}